<section class="blog">
    <div class="container">
        <div class="blog-text wow fadeInLeftBig">Блог</div>
        <div class="blog__item">
            <div class="blog__field">
                <div class="blog-scale wow fadeInUpBig">
                    <div class="blog__block blog-logo1">
                        <a href="pagetwo.html" class="blog-title">Мавзолей Ходжа Ахмед Яссауи</a>
                    </div>
                </div>
                <div class="blog-scale wow fadeInUpBig">
                    <div class="blog__block blog-logo2">
                        <a href="pagetwo.html" class="blog-title">Бекет-ата (Мангистауская область)</a>
                    </div>
                </div>
                <div class="blog-scale wow fadeInUpBig">
                    <div class="blog__block blog-logo3">
                        <a href="pagetwo.html" class="blog-title">Городище Сауран</a>
                    </div>
                </div>
                <div class="blog-scale wow fadeInUpBig">
                    <div class="blog__block blog-logo4">
                        <a href="pagetwo.html" class="blog-title">Пик Едыге</a>
                    </div>
                </div>
                <div class="blog-scale wow fadeInUpBig">
                    <div class="blog__block blog-logo5">
                        <a href="pagetwo.html" class="blog-title">"Жаркентская мечеть"</a>
                    </div>
                </div>
               <div class="blog-scale wow fadeInUpBig">
                <div class="blog__block blog-logo6">
                    <a href="pagetwo.html" class="blog-title">Кратер Жаманшин</a>
                </div>
               </div>
                <div class="blog-scale wow fadeInUp">
                    <div class="blog__block blog-logo7">
                        <a href="pagetwo.html" class="blog-title">МАВЗОЛЕЙ ЖУБАН АНА</a>
                    </div>
                </div>
                <div class="blog-scale wow fadeInUp">
                    <div class="blog__block blog-logo8">
                        <a href="pagetwo.html" class="blog-title">МАВЗОЛЕЙ АЙШИ БИБИ</a>
                    </div>
                </div>
               <div class="blog-scale wow fadeInUp">
                <div class="blog__block blog-logo9">
                    <a href="pagetwo.html" class="blog-title">культовый памятник Домбауыл</a>
                </div>
               </div>
                <div class="blog-scale wow fadeInUp">
                    <div class="blog__block blog-logo10">
                        <a href="pagetwo.html" class="blog-title">Улытау</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>