<section class="cart">
    <div class="container">
        <div class="cart__row">
            <div class="title wow fadeInDownBig">Выберите место на карте</div>
            <div class="cart__item">
                <div class="cart__block wow fadeInRight">
                    <div class="cart__elem1 cart-btn">Улытау</div>
                    <div class="cart__elem2 cart-btn">Подземная мечеть Бекет-ата</div>
                    <div class="cart__elem3 cart-btn">Мавзолей Хаджи Ахмеда Яссауи</div>
                    <div class="cart__elem4 cart-btn">Мавзолей Айша Биби</div>
                </div>
            </div>
            <div class="block-map hidden">
                <div class="block-map__item">
                    <div class="block-map__body">
                        <div class="map-close blocks-close"><i class="fa fa-times" aria-hidden="true"></i></div>
                        <div class="block-map__cart map-y">
                            <iframe class="map " src="https://www.google.com/maps/embed?pb=!4v1619248820745!6m8!1m7!1sCAoSLEFGMVFpcE9pWUMzRnVBRWJoTjFybXBPOFhTUXk1ZmR6X3phTEo4NjdDc1Y1!2m2!1d43.2977055!2d68.27109990000001!3f151.86524172653412!4f16.46554142478722!5f0.7820865974627469" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <p class="block-map__new">Вы можете просмотреть это место не выходя из дома</p>
                            <p class="block-map__title">Мавзолей Ходжа Ахмеда Яссауи</p>
                            <p class="block-map__address">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>Расположение: Туркестан, Казахстан</p>
                            <p class="block-map__data"> <i class="fa fa-clock-o" aria-hidden="true"></i>График: 09:00–18:00 </p>
                            <p class="block-map__data"><i class="fa fa-clock-o" aria-hidden="true"></i> Во вторник работает 24 часа в сутки</p>
                        </div>    
                        <div class="block-map__cart map-yl">
                            <iframe class="map" src="https://www.google.com/maps/embed?pb=!4v1619251539776!6m8!1m7!1sCAoSLEFGMVFpcE5PTXdSeXlPZHp2WmpHZ2psdGZXZExiZmxDNC1taC1pRU5HMEF0!2m2!1d48.652828!2d67.0257432!3f354.1990183692245!4f28.619900642247487!5f0.7820865974627469" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <p class="block-map__new">Вы можете просмотреть это место не выходя из дома</p>
                            <p class="block-map__title">Улытау</p>
                            <p class="block-map__address"><i class="fa fa-map-marker" aria-hidden="true"></i>Расположение: 127 км к северу от города Жезказган</p>
                        </div>  
                        <div class="block-map__cart map-p">
                            <iframe class="map" src="https://www.google.com/maps/embed?pb=!4v1619252002532!6m8!1m7!1sCAoSLEFGMVFpcFBFamZidG8yS0h6d2xQbFQzeHBfZVhFdmNvR094NXpYUkRkTVZ6!2m2!1d43.5970492!2d54.0698272!3f81.11726919192989!4f-32.606074718582846!5f0.7820865974627469" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <p class="block-map__new">Вы можете просмотреть это место не выходя из дома</p>
                            <p class="block-map__title">Подземная мечеть Бекет-ата</p>
                            <p class="block-map__address"><i class="fa fa-map-marker" aria-hidden="true"></i>Расположение: Казахстан</p>
                        </div>  
                        <div class="block-map__cart map-a">
                            <iframe class="map" src="https://www.google.com/maps/embed?pb=!4v1619252103640!6m8!1m7!1sCAoSLEFGMVFpcE1IVVVUaHdERnZlYUpnM1V5QjZjVmdyX0lvbnhyZ3FMRUlCYkNN!2m2!1d42.83392052091105!2d71.21057371543769!3f189.27332551768393!4f11.647214454011646!5f0.7820865974627469" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <p class="block-map__new">Вы можете просмотреть это место не выходя из дома</p>
                            <p class="block-map__title">Мавзолей Айша Биби</p>
                            <p class="block-map__address"><i class="fa fa-map-marker" aria-hidden="true"></i>Расположение: Айша-Биби, Казахстан</p>
                            <p class="block-map__data"> <i class="fa fa-clock-o" aria-hidden="true"></i>График: 08:30–20:00 </p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>