<section class="ev">
    <div class="container">
        <div class="ev__row">
            <div class="ev__item">
                <div class="title">Новости</div>
                <div class="ev-block">
                    <div class="ev-body">
                        <img class="wow fadeInLeftBig" src="assets/images/photo_288766.jpg" alt="">
                        <div class="ev-block__title">
                            Европейцы отправились в путешествие по сакральным местам Казахстана
                        </div>
                        <div class="ev-block__text wow fadeInRightBig">
                            <p> Путешественник, член Казахского географического общества и автор книги "Кочевник на двух колесах" Магжан Сагимбаев возглавил 16-дневную экспедицию "По стране Великой степи" по сакральным местам Центрального и Восточного Казахстана. Участники путешествия посетят Улытау, Каркаралы, Шынгыстау, Алаколь, Алтын Емель и Балхаш.</p> <br> <br>
                            Среди 13 членов экспедиции - многолетний почетный консул Казахстана в федеральной земле Баден-Вюртемберг, ФРГ, Доротея Халлер-Ляйбле с супругом Юргеном Лайбле, вице-президент Австрийско-Казахстанского общества, бывший президент Парламентской Ассамблеи ОБСЕ Кристине Муттонен с супругом Пекка Муттоненом.
                            <p>А также бывший исполнительный директор торгово-промышленной палаты региона Штутгарт Андреас Рихтер с супругой Эдит, международный эксперт по развитию туризма из Австрии Фердинанд Позник с супругой Розитой, депутат Мажилиса, член парламентского комитета по экономической реформе и региональному развитию Сапар Ахметов со своим сыном Санжаром, посол Казахстана в Австрии и Словении Кайрат Сарыбай со своей дочерью Дарией.</p>
                            <p>Путешествие стартовало в Нур-Султане 27 июля. Зарубежным гостям показали "Байтерек", Национальный музей РК и галерею "Куланши". Далее группа отметила посещение мавзолея Жошы хана, священной горы Аулие, заповедника Каркаралы, священной пещеры Коныр аулие, мавзолея Абая и Шакарима, музея Мухтара Ауэзова.</p>
                            <p>Экспедиция продлится до 11 августа. Как отметил Магжан Сагимбаев, ее маршрут охватывает пять областей и два города, это Алматинская, Акмолинская, Карагандинская, Жамбылская области, ВКО, Нур-Султан, Алматы. <br>

                               <p class="evblock__avtor">  <i class="fa fa-quote-left" aria-hidden="true"></i>"В дальнейшем было бы хорошо поставить этот маршрут на ежегодный тур для иностранцев. В первую очередь, чтобы поднять туризм, нужно предоставить именно нашим гражданам возможность путешествовать. Когда мы сделаем дороги, сервис и услуги, будет хороший поток идти, и иностранные туристы будут приезжать", - пояснил он.</p> </p>
                            <p>По его словам, данная экспедиция поможет развить отечественный туризм, потому мы все нюансы, плюсы и минусы регулярно отмечаются в заметках. <br>

                              <p class="evblock__avtor">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>"Минус то, что дороги нужно делать и сервис улучшать. Из плюсов - это наша земля, очень много священных мест, исторических достопримечательностей. В этом очень большой потенциал нашей страны: в одной области может находиться до ста различных мест, которые можно посетить, узнать, изучить. Иностранному туристу будет очень интересно. И не только иностранному, даже внутреннему туристу, нашим гражданам", - говорит Магжан Сагимбаев.
                              </p>  
                            </p>
                            <p>Маршрут этой экспедиции сможет заинтересовать не только зарубежных туристов, но и отечественных, добавил путешественник. <br> <br>

                                В целом стоимость 16-дневного путешествия по сакральным местам Казахстана составит около 1,5 тысячи евро.</p>
                        </div>
                        <div class="ev-block__logo wow fadeInLeftBig">
                            <img class="ev-block__logs" src="assets/images/14322612c04bd4db3d1218640b88f52a.jpg" alt="">
                            <img class="ev-block__logs"src="assets/images/66827dbdfd8676acce0f8741369e8fd5.jpg" alt="">
                            <img class="ev-block__logs" src="assets/images/1d9ac326abe66ec1f15bb4dfd3399ae7.jpg" alt="">
                            <img class="ev-block__logs" src="assets/images/1b286025a883430631098844883c809c.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="ev-block">
                    <div class="ev-body wow fadeInLeftBig">
                        <img src="assets/images/photo_35750.jpg" alt="">
                        <div class="ev-block__title">
                            Путешествие в сакральный мир дикого запада Казахстана
                        </div>
                        <div class="ev-block__text wow fadeInRightBig">
                            <p> Величественный в своих масштабах и несомненно жесткий и даже дикий по своему нраву запад Казахстана притягивает отважных туристов из самых разных стран. Это не то место, куда можно отправиться на комфортабельном автобусе, слушая гида и, вертя головой по сторонам, рассматривать достопримечательности из окна. Здесь придется окунуться в степную пыль с головой, почувствовать телом жар испепеляющего солнца в зените, и понять ценность и живительный вкус питьевой воды. И если вы к этому готовы, то в награду получите незабываемое приключение для души и тела. Ведь Запад Казахстана также славится своими сакральными местами. Корреспондент Tengrinews.kz Владимир Прокопенко побывал в экспедиции "Киелi Қазақстан", организованной Казахстанским национальным географическим обществом (QazaqGeography)</p> <br> <br>
                            Экспедиция по сакральным местам страны стартовала 10 июня из Астаны. Колонне из семи внедорожников с 25 членами экспедиции на борту предстояло преодолеть более семи тысяч километров и проехать восемь областей за 16 дней.
                            <p>Первый пункт назначения экспедиции - историко-археологический комплекс "Теректы". Там участники познакомились с неолитическими стоянками, наскальными изображениями эпохи бронзы, курганами и мазарами XVIII-XIX веков. </p>
                            <p>Есть такая легенда, что один странник дошел до этого места изможденным. Его мучила жажда, он был без сил от палящего солнца. И в этом месте Всевышний пожалел его - каменные плиты сдвинулись так, что образовалась тень, а вблизи начал бить родник. Так это место стало святым, и сейчас оно является объектом паломничества тысяч людей, которые здесь совершают молитвы и загадывают желания.</p>
                            <p>Следующим объектом на пути экспедиции стал мазар, приблизительно X-XI веков, считающийся усыпальницей последней жены Чингизхана - Кулан Ана, или как еще она встречается в летописях - Кулан Хатун. Сейчас этот исторический комплекс имеет огороженную территорию и реставрированные объекты, повторяющие внешний облик и форму оригинала.<br>
                            <p>
                                Продвигаясь на Запад, через центральную часть страны - города Жезказган и Кызылорду, поражает не только качество дорог, но и условия жизни людей.
                            </p>
                            <p>Мазар целителя и благодетеля Марал Ишана (XIX век). Мемориальный комплекс расположен на месте его захоронения. Вблизи находится мазар сына Марал Ишана. Неподалеку от комплекса находился и сам дом целителя. Сейчас следящие за мемориальным комплексом радушно встречают каждого гостя, показывают ему музей Марал Ишана и предоставляют место для молитвы и ночлега.
                                <br>
                            Но перед посещением мазара Марал Ишана, местные жители настоятельно рекомендуют помолиться у могилы Бисенбай-Аты, который при жизни был хорошим другом Марал Ишана. По легенде, Бисенбай-Ата одолел тюркского борца, отстояв тем самым честь казахского народа. При этом сам получил травму во время схватки. Тогда Марал Ишан заявил, что приходящие, сначала должны поклониться Бисенбаю, а потом уже ему.
                            </p>
                            <p>В 60 километрах на северо-запад от Кызылорды экспедиция посетила медресе ХIХ века поэта, просветителя и духовного учителя казахского народа Калжана Ахуна. Калжан Ахун обучался в свое время в Узбекистане в Хиве и также был последователем известного ученого Турмагамбета Изтлеуова. Будучи уверенным в том, что знаниями нужно делиться, он помогал малообеспеченным семьям, а в организованной им медресе, любой мог учиться совершенно бесплатно.</p>
                            <p>В Советское время это здание использовали как загон для скота. В 2007-2008 годах местными властями была попытка реставрации этого объекта, однако программа не увенчалась успехом и сейчас здание законсервировано. Но местные жители пытаются поддерживать его состояние и планируют сделать здесь сделать культурно-просветительское место.</p>
                            <p>Одно из самых популярных историко-культурных мест в Кызылординской области - мемориальный комплекс легендарного композитора, акына и создателя музыкального инструмента Кобыз - Коркыта Ата (V-VI века). Согласно легенде, Коркыт смолоду не смог примириться со скоротечностью человеческой жизни, поэтому решил бороться против неизбежной смерти. Мучимый своими мыслями и гонимый мечтой о бессмертии, он ушел от людей, но везде и всюду видел смерть. Тогда он выдолбил из дерева ширгай - первый кобыз, натянул на него струны и заиграл, изливая свои мучительные мысли и чувства. Он вложил всю свою душу в эти мелодии, и чудесные звуки его струн прозвучали на весь мир. С тех пор мелодии Коркыта Ата и созданный им кобыз пошли странствовать по земле, а его имя осталось бессмертным в струнах кобыза и в сердцах людей.</p>
                            <p>Мемориальный комплекс расположен на 8 гектарах. Здесь имеется музей Коркыта Ата, гостиница, амфитеатр под открытым небом на 2 тысячи человек, а также 12-метровый памятник кобыза из гранита. В верхней его части установлены трубы с широким отверстием и благодаря ветру по территории комплекса разносится звук музыкального инструмента. Ведь по легенде, Коркыт Ата хотел, чтобы на его могилу был положен кобыз, тихо звучавший при порывах ветра во все времена. Стоит отметить, что раз в четыре года в этом мемориальном комплекс проходит музыкальный фестиваль тюркоязычных народов. </p>
                            <p>Помимо посещения сакральных объектов, участники экспедиции проявляли интерес к историческим местам и собирали информацию для создания туристической карты региона. </p>
                        </div>
                        <div class="ev-block__logo wow fadeInLeftBig">
                            <img class="ev-block__logs" src="assets/images/8642b3845f2649f6426ba90d58f91e27.jpg" alt="">
                            <img class="ev-block__logs"src="assets/images/85624586227ae7b19cad967c6b5f8d20.jpg" alt="">
                            <img class="ev-block__logs" src="assets/images/96377e404308ac4e189de42348c68626.jpg" alt="">
                            <img class="ev-block__logs" src="assets/images/e58e63b1924055f73dc259817906ca5d.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="ev-nav">
                    <div class="ev-nav__link">
                        <i class="fa fa-arrow-left farrow wow fadeInLeftBig" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right farrow  wow fadeInRightBig" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>