<section class="five">
    <div class="container">
        <div class="five__row">
            <div class="five__item">
                <div class="title wow fadeInLeftBig">ТОП-5 самых необычных мест для исследования</div>
                <div class="five__title wow fadeInRightBig">Казахстан богат на широкие просторы и потрясающие виды. Объездить каждый исторический объект в стране можно, но если хочется посмотреть на что-то необычное, что сохранилось до наших дней, то мы сделали для вас небольшую подборку самых интересных сакральных мест страны. Основными критериям отбора стали - историческая ценность, выдающиеся природные пейзажи вокруг, а также внешний вид и размах исторических объектов.</div>
                <div class="five-block">   
                   <div class="five-body wow fadeInLeftBig">
                    <div class="five-block__title">Бекет-ата (Мангистауская область)</div>
                    <div class="five-block__subtitle">Подземная мечеть Бекет-Ата, расположенная на западе Казахстана, является одной из главных святынь региона. Чтобы доехать до Акмечети, нужно сначала из Атырау доехать до Кульсары, затем около 50 км на восток. По древним сказаниям, Бекет-Ата обладал богатырской силой, что в том числе помогало выбивать мечети в крепких скалах. Бекет-ата известен как предсказатель и пророк, которому была открыта книга бытия. Родился он в 1750 году вблизи поселка Кульсары Атырауской области. В большинстве письменных источников подтверждается, что Бекет-Ата построил 4 мечети: в Огланды, на своей родине - в Жылыойском районе Атырауской области, в Бейнеу, в Устюрте на территории Каракалпакстана (не сохранилась)..</div>
                   </div>
                   <div class="five-logo wow fadeInRightBig">
                       <img src="assets/images/five/1540376344_6565bc2d319644ede1aae96ead57d02e.jpg" alt="">
                   </div>
                </div>
                <div class="five-block">   
                    <div class="five-logo wow fadeInLeftBig">
                        <img src="assets/images/five/1540377008_yasavi-mausoleum.jpg" alt="">
                    </div>
                    <div class="five-body wow fadeInRightBig">
                        <div class="five-block__title">Мавзолей Ходжа Ахмета Яссауи</div>
                        <div class="five-block__subtitle">Мавзолей Ходжи Ахмета Яссауи находится на территории государственного историко-культурного музея-заповедника "Азрет Султан". Мавзолей в 2003 году включен в список объектов Всемирного наследия ЮНЕСКО. На этой территории погребено около двух десятков казахских ханов, в том числе Абылай, Есим, Тауке, а также известные казахские бии и батыры. Мавзолей Ахмета Яссауи является архитектурным комплексом, в котором объединены функции мавзолея, мечети, ханаки (помещения для совершения массовых ритуальных обрядов - казандыка), помещений административного и хозяйственного назначения. Внешне симметричный, компактный план включает до 35 помещений, соединенных переходами, лестницами и коридорами, которые отходят от углов казандыка и членят помещение на восемь отсеков-блоков. Деление здания на блоки свидетельствует о стремлении обеспечить их самостоятельную осадку.</div>
                       </div>
                 </div>
                 <div class="five-block">   
                    <div class="five-body wow fadeInLeftBig">
                     <div class="five-block__title">Городище Сауран</div>
                     <div class="five-block__subtitle">Первое упоминание о Сауране в письменных источниках относится к первой половине X века. Жизнь в крепости продолжалась вплоть до середины XVIII века. К XVII веку он был уже вымершим городом, и сегодня только его безмолвные стены говорят, что здесь был когда-то Сауран – крепость и торговый центр наших предков. Городище Сауран – один из самых эффектных и наиболее сохранившиеся средневековых руин в Казахстане. Со времени первого археологического обследования в специальной литературе Сауран понимается и описывается как отдельное городище, имеющее в плане вид овала и окруженное сравнительно хорошо сохранившимися крепостными. Средневековый город Сауран располагался в нижней дельтовой части трех бывших горных речек, бравших начало в горах Каратау - Тастаксай, Аксай и Майдантал, берущих начало с южных склонов гор Каратау в сторону Сырдарьи.</div>
                    </div>
                    <div class="five-logo wow fadeInRightBig">
                        <img src="assets/images/five/1540377350_739378_1504431591_940_498_0.png" alt="">
                    </div>
                 </div>
                 <div class="five-block">   
                    <div class="five-logo wow fadeInLeftBig">
                        <img src="assets/images/five/1540377726_img_7736_1200.jpg" alt="">
                    </div>
                    <div class="five-body wow fadeInRightBig">
                        <div class="five-block__title">Архитектурно-художественный комплекс "Жаркентская мечеть"</div>
                        <div class="five-block__subtitle">Жаркентская мечеть - центральная мечеть города Жаркент, памятник архитектуры XIX века. Мечеть была построена в 1895 году по проекту китайского архитектора Хон Пика. С 1982 года находится под охраной государства как памятник архитектуры и истории республиканского значения. Общая площадь мечети 28×54 метров, высота 14,5 метров, высота минарета 19 метров. Минарет окружён 52 колоннами. Интерьер украшен арабской вязью, использованы национальные орнаменты. Во дворе мечети с северо-восточной стороны расположен маленький дворик, а с южной — медресе. Комплекс мечети огорожен каменным забором высотой 2,3 метров. С южной и северной сторон имеются ворота.</div>
                       </div>
                 </div>
                 <div class="five-block">   
                    <div class="five-body wow fadeInLeftBig">
                     <div class="five-block__title">Кратер Жаманшин</div>
                     <div class="five-block__subtitle">Жаманшин - геоморфологический метеоритный кратер в Иргизском районе Актюбинской области. В диаметре кратер достигает 10 километров, есть также менее выраженное внешнее кольцо. Возраст, вычисленный радиологическим методом, составляет 12 миллионов лет. Учёные предполагают, что по составу метеорит был каменным, поскольку обломков метеоритного железа в кратере и округе обнаружено не было. Кратер является природным памятником. Это одно из немногих на Земле месторождений тектитов (иргизитов). В кратере находят также лешательерит (вспенившийся кварц), трехвалентный титан</div>
                    </div>
                    <div class="five-logo wow fadeInRightBig">
                        <img src="assets/images/five/1540377889_31d2bec5ac05c46724900197817a64c6.jpg" alt="">
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>