<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__item">
                <div class="footer__body wow fadeInUpBig">
                    <div class="footer__block">
                        <div class="footer__logo">
                            <img src="assets/images/logo/White.png" alt="">
                        </div>
                        <div class="footer__nav">
                            <div class="footer__title">Навигация</div>
                            <a href="index.html" class="footer__link wow fadeInLeftBig">Домой</a>
                            <a href="pagetwo.html" class="footer__link wow fadeInLeftBig">Блог</a>
                            <a href="pagefree.html" class="footer__link wow fadeInRightBig">Новости</a>
                        </div>
                    </div>
                    <div class="footer__block ">
                        <div class="footer__title">Информация</div>
                        <p>Телефон: +77054089839</p>
                        <p>Email: akezha01@gmail.com</p>
                        <div class="footer__icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <i class="fa fa-vk" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom wow fadeInLeftBig">
                    © 2021 AS | Разработал Садуов Акежан
                </div>
            </div>
        </div>
    </div>
</footer>
