<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__item">       
                <div class="header__logo">
                    <a href="index.html" class="header__log wow fadeInDownBig"></a>
                </div>
                <div class="header-navs wow fadeInRightBig">
                    <a href="index.html" class="header__link wow fadeInLeftBig">Домой</a>
                    <a href="pagetwo.html" class="header__link wow fadeInLeftBig">Блог</a>
                    <a href="pagefree.html" class="header__link wow fadeInRightBig">Новости</a>
                </div>
            </div>
        </div>
    </div>
</header>