<section class="news">
    <div class="container">
        <div class="news__row">
            <div class="news__title">Новости</div>
            <div class="news__item">
                <div class="news-nav">
                    <div class="news-nav__link">Европейцы отправились в путешествие по сакральным местам Казахстана</div> <hr>
                    <div class="news-nav__link">Путешествие в сакральный мир дикого запада Казахстана</div>
                </div>
                <div class="news-block">
                    <div class="news-block__logo  wow fadeInRight">
                        <img src="assets/images/photo_288766.jpg" alt="">
                    </div>
                    <div class="news-block__zag wow fadeInRight"> <span>
                        Европейцы отправились в путешествие по сакральным местам Казахстана
                    </span> </div>
                    <div class="news-block__text wow fadeInRight">
                        <p> Путешественник, член Казахского географического общества и автор книги "Кочевник на двух колесах" Магжан Сагимбаев возглавил 16-дневную экспедицию "По стране Великой степи" по сакральным местам Центрального и Восточного Казахстана. Участники путешествия посетят Улытау, Каркаралы, Шынгыстау, Алаколь, Алтын Емель и Балхаш.</p>
                       
                        <p> Среди 13 членов экспедиции - многолетний почетный консул Казахстана в федеральной земле Баден-Вюртемберг, ФРГ, Доротея Халлер-Ляйбле с супругом Юргеном Лайбле, вице-президент Австрийско-Казахстанского общества, бывший президент Парламентской Ассамблеи ОБСЕ Кристине Муттонен с супругом Пекка Муттоненом.</p>
                    </div>
                    <div class="news-btn wow fadeInRight">
                        <a href="pagefree.html">Подробнее</a>
                    </div>
                </div>
                <div class="news-block">
                    <div class="news-block__logo wow fadeInRight">
                        <img src="assets/images/photo_35750.jpg" alt="">
                    </div>
                    <div class="news-block__zag wow fadeInRight"> <span>
                        Путешествие в сакральный мир дикого запада Казахстана
                    </span> </div>
                    <div class="news-block__text wow fadeInRight">
                        Величественный в своих масштабах и несомненно жесткий и даже дикий по своему нраву запад Казахстана притягивает отважных туристов из самых разных стран. Это не то место, куда можно отправиться на комфортабельном автобусе, слушая гида и, вертя головой по сторонам, рассматривать достопримечательности из окна. Здесь придется окунуться в степную пыль с головой, почувствовать телом жар испепеляющего солнца в зените, и понять ценность и живительный вкус питьевой воды.
                    </div>
                    <div class="news-btn wow fadeInRight">
                        <a href="pagefree.html">Подробнее</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>