<section class="places">
    <div class="container">
        <div class="places__item">
            <div class="places__field">
                <div class="places-block">
                    <div class="places-body wow fadeInLeft">
                        <div class="places-body__title">Узнайте больше про пик Едыге</div>
                        <div class="places-body__subtitle">Пик Едыге расположен в 35 км западнее от села Улытау. На его вершине находится место захоронения знаменитого хана Золотой Орды Тохтамыша (Токтамыса)...</div>
                        <a href="pagetwo.html" class="places-button">Подробнее</a>
                    </div>
                    <div class="places-play wow fadeInRight">
                        <div class="places-play__bg1">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="places-block">
                    <div class="places-body">
                        <div class="places-body__title">Узнайте больше про культовый памятник Домбауыл</div>
                        <div class="places-body__subtitle">Мавзолей Домбауыл примечателен тем, что является, по мнению многих ученых, одним из самых древних сооружений, которыми располагает Центральный Казахстан. Считается, что оно было построено еще во времена владычества гуннов и было предназначено для культовых обрядов. Мавзолей построен из камня-плитняка...</div>
                        <a href="pagetwo.html" class="places-button">Подробнее</a>
                    </div>
                    <div class="places-play">
                        <div class="places-play__bg2">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="places-block">
                    <div class="places-body">
                        <div class="places-body__title">Узнайте больше про Мавзолей Алаша-хана</div>
                        <div class="places-body__subtitle">Мазар построен народными мастерами в XI– XII вв. в честь Алаша хана. Его имя напрямую связано с появлением трех жузов казахского народа. Один из знаменитых мавзолеев Казахстана расположен в долине реки Каракенгир, недалеко от деревни Малшыбай, в Улытауском районе Карагандинской области. В этногенезе народа, в первой...</div>
                        <a href="pagetwo.html" class="places-button">Подробнее</a>
                    </div>
                    <div class="places-play">
                        <div class="places-play__bg3">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="places-block">
                    <div class="places-body">
                        <div class="places-body__title">Узнайте больше про Мавзолей Ходжа Ахмед Яссауи</div>
                        <div class="places-body__subtitle">Ходжа Ахмед Яссауи был великим учёным тюркских народов, поэтом, философом и проповедником, жившим в древнем Туркестане, который в те годы назывался Ясса. В своих проповедях он призывал мусульман к терпению и порицал привязанность...</div>
                        <a href="pagetwo.html" class="places-button">Подробнее</a>
                    </div>
                    <div class="places-play">
                        <div class="places-play__bg4">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-yt hidden">
                <div class="block-yt__item">
                    <div class="block-yt__body">
                        <div class="block-yt__videos"></div>
                        <iframe class="youtube tube-t"  src="https://www.youtube.com/embed/Q0rbeAlliF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="youtube tube-a"  src="https://www.youtube.com/embed/8pyE6a4KO1E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="youtube tube-d"  src="https://www.youtube.com/embed/Cmr4zQUv1LM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe class="youtube tube-e"  src="https://www.youtube.com/embed/XEnNfgfaYEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>